
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-link" [routerLink]="['']" routerLinkActive="active" >Home  <span class="sr-only">(current)</span></a>
        <a class="nav-link" [routerLink]="['cv']" routerLinkActive="active" >Cv  <span class="sr-only"></span></a>
        <a class="nav-link" [routerLink]="['formulaire']" routerLinkActive="active" >formulaire  <span class="sr-only"></span></a>
        <a class="nav-link" [routerLink]="['color']" routerLinkActive="active" >Color  <span class="sr-only"></span></a>
        <a class="nav-link" [routerLink]="['arc_ciel']" routerLinkActive="active" >Arc en ciel  <span class="sr-only"></span></a>
        <a class="nav-link" [routerLink]="['carte_visite']" routerLinkActive="active" >Carte visite  <span class="sr-only"></span></a>
        <a class="nav-link" [routerLink]="['mini_word']" routerLinkActive="active" >Mini Word  <span class="sr-only"></span></a>
        <a class="nav-link" [routerLink]="['default_image']" routerLinkActive="active" >Default Image <span class="sr-only"></span></a>

      </div>
    </div>
  </nav>
