

<!--

<div class="container">
<div class=" container border border-primary">
    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
        <h1 >Exercice 1</h1>
      </div>

<app-color></app-color>
</div>

<div class="container border border-primary">
    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
        <h1 >Exercice 2</h1>
      </div>
<app-carte-visite></app-carte-visite>
</div>

<div class=" container border border-primary">
    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
        <h1 >Exercice 3</h1>
      </div>
<app-parent></app-parent>
</div>

-->
<app-navbar></app-navbar>
<div class="container border border-primary">

<app-image-observable></app-image-observable>

<router-outlet></router-outlet>
</div>


<!--

<div class=" container border border-primary">
    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
        <h1 >Exercice 5</h1>
      </div>
<app-default-image></app-default-image>
</div>


<div class="container border border-primary">
    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
        <h1 >Exercice 6</h1>
      </div>
<app-mini-word></app-mini-word>
</div>

<div class="container border border-primary">
    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
        <h1 >Exercice 7</h1>
      </div>
<app-arc-ciel></app-arc-ciel>
</div>

</div>

-->

